@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.navbar pmingo {
    margin-right: 5px;
    font-size: 250%;
}

.navbar-brand {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe9e9f;
    font-size: 20px;
    font-weight: 800;


}

.navbar-item {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-item {
    background-color: #fe9e9f;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar-portfolio {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e-portfolio {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #fe9e9f;
    font-weight: 800;
    font-size: 20px;
}

/* bagian hero */
.hero {
    width: 100vw;
    height: 90vh;
    display: flex;


}

.area-title {
    width: 50%;
    height: 73%;
    padding: 100px;
    background: white;
}

.text-title {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 50px;
}


.text-title p2 {
    font-size: 70px;
    color: #fe9e9f;

}

.text-subtitle {
    color: #8A8685;
    font-size: 20px;
    letter-spacing: 7px;
    margin-top: 9px;
    font-weight: 300;
}

.text-tagline {
    font-size: 1.5em;
    margin-top: 23px;
    color: black;
    font-size: 20px;

}

.code-skills {
    margin-top: 50px;
}

.code-skills2 {
    margin-top: 30px;
}

/* button decorations */
.html {
    background-color: #FFCA3C;
    padding: 10px 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition: font-size 0.2s ease-in-out;
}

.kotlin {
    background-color: #F45327;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
    transition: font-size 0.2s ease-in-out;
}

.php {
    background-color: black;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: font-size 0.2s ease-in-out;
}



.js {
    background-color: #E5E5E5;
    padding: 10px 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
    transition: font-size 0.2s ease-in-out;
}


/* Enlarge text on hover */
.html:hover,
.kotlin:hover,
.php:hover,
.js:hover {
    font-size: 125%;
}


/* Button decorations */

/* images */
.area-image {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.img-brand {
    width: 50px;
    height: 50px;
    margin-right: 600px;
    margin-top: 80px;
}


/* scroll omaygah */
.group {
    position: relative;
    height: 200px;
    overflow: hidden;
    color: #fe9e9f;
}

.group .text {
    position: absolute;
    margin: 5px 0;
    padding: 0;
    width: max-content;
    animation: my-animation 24s linear infinite;
    font-size: 150px;
}

/* About Area */

.hero-skills {
    width: 100vw;
    height: 90vh;
}

.container-card {
    width: 86vw;
    height: 90%;
    padding: 100px;
    background-color: wheat;
}

/* Bagian Hero About */

.hero-about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fe9e9f;
    justify-content: center;
    align-items: center;
}

.img-about {
    justify-content: center;
    display: flex;
}

.about-img {
    border-radius: 290px;
    border: solid #fff 6px;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.about-img:hover {
    transform: scale(1.02); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */
    border: 0;
}

.text-about {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    color: #fe9e9f;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.text-about h1 {
    margin-top: 1%;
    font-weight: 300;
    justify-content: center;
    text-align: center;
    font-size: 4em;
}

.text-about-desc {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.text-about-desc p {
    text-align: center;
    width: 52%;
    font-size: 2.5ex;
}

.dhirgham {
    font-weight: 700;
}

/* Contact */
.content .title-contacth2 {
    margin-top: 2%;
    font-size: 34px;
    font-weight: 700;
    color: #37373C;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content .title-contactp {
    color: #56565F;
    font-size: 17px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container3 {
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 18%;
}

.container3 .contactInfo .box {
    position: relative;
    padding: 15px 0;
    display: flex;
}

.container3 .contactInfo .box .icon {
    min-width: 65px;
    height: 65px;
    display: flex;
    color: #6C55E0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 38px;
}

.container3 .contactInfo .box .text h3 {
    display: flex;
    margin-left: 20px;
    font-size: 19px;
    color: #37373C;
    font-weight: 700;
}

.container3 .contactInfo .box .text p {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #56565F;
    margin-top: -1px;
}

.contactForm {
    width: 40%;
    padding: 20px;
    margin-top: 2%;
    margin-right: 3%;
}

.contactForm h2 {
    font-size: 26px;
    color: #37373C;
    margin-left: 20px;
}

form {
    width: 77%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 85%;
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #ececec;
    background-color: #ececec;
    border-radius: 12px;
}

textarea {
    width: 85%;
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #ececec;
    background-color: #ececec;
    border-radius: 12px;
}

button[type="submit"] {
    background-color: #6C55E0;
    padding: 15px;
    margin-top: 22px;
    color: white;
    border: none;
    border-width: 2px;
    border-radius: 12px;
    width: 30%;
}

button[type="submit"]:hover {
    background-color: #463791;
}